@import url("https://fonts.googleapis.com/css2?family=Geo&family=Poppins:wght@200&display=swap");

html {
  box-sizing: border-box;
}

html {
  background: url("../imgs/bg/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /* border: solid black; */
  margin: 0;
  min-height: 100vh;
  background-image: url(imgs/bg.png);
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.slotMachine {
  /* border: black dotted; */
  min-width: 1200px;
  min-height: 1200px;
  padding: 20px 30px;
  border-radius: 10px;
  flex-grow: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../imgs/bg/window.png") no-repeat center;
}

.yellow-container {
  border: solid #6f3434 3px;
  border-radius: 20px;
  background-color: yellow;
  height: 600px;
  width: max(800px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5px;
}
#triangle-left {
  width: 74px;
  height: 74px;
  transform: rotate(90deg);
  background-image: linear-gradient(to bottom right, transparent 50%, #ea4033 0),
    linear-gradient(to top right, #ea4033 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}
#triangle-right {
  width: 74px;
  height: 74px;
  transform: rotate(-90deg);
  background-image: linear-gradient(to bottom right, transparent 50%, #ea4033 0),
    linear-gradient(to top right, #ea4033 50%, transparent 0);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}

.slotMachine-container {
  /* width: min(100%, 800px); */
  height: 500px;
  width: max(500px);
  margin: 5px;
  background-color: white;
  color: black;
  border: 3px solid #6f3434;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.slotMachine-container > div {
  /* border: 6px solid black; */
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div > img {
  max-width: 60%;
  max-height: 60%;

  object-fit: contain; /* or object-fit: cover; */
}

.control {
  max-height: 100px;
  width: min(100%, 800px);
  flex-grow: 1;
  display: block;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font: 20px bold;
  padding: 10px;
}
.control > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bid {
  display: flex;
  flex-direction: column;
}

.bid input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font: 20px bold;
}
#bid-input {
  margin: 10px 0 0 15px;
  width: 70%;
}

footer {
  font: #6f3434 ;
  font-family: "Geo", sans-serif;
}
